.container {
      display: flex;
      gap: 10px;
      align-items: flex-start;
      justify-content: flex-start;
}

.description {
      display: flex;
      flex-direction: column;
      color: #444444;
      font-size: 14px;
      line-height: 17px;
      gap: 5px;
}

.name {
      font-weight: 500;
}

.action {}

.target {
      font-weight: 600;
}

.avatar {
      border-radius: 50%;
}

.createdAt {
      color: #565656;
      filter: opacity(0.5);
}